<div class="card border-success mt-3 container">
    <div class="card-body">
        <h5 class="card-title text-success">@ViewBag.Title</h5>
        <p class="card-text lead">@ViewBag.Message</p>
        <a class="btn btn-primary" asp-controller="@ViewBag.Controller" asp-action="Index" >Voltar para @ViewBag.Controller </a>
    </div>
</div>
