@{
    ViewData["Title"] = "About Us";
}


<div class="container px-4 px-lg-5">
    <h3>@ViewData["Title"]</h3>
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Business Name or Tagline</h1>
            <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
        </div>
    </div>

    <div class="card text-white bg-secondary my-5 py-1 text-center">
        <div class="card-body"><p class="text-white m-0 font-weight-bold">Our Team</p></div>
    </div>

    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Fábio Marques</h2>
                    <p class="card-text">Data de Nascimento: 06/12/2001</p>
                    <p class="card-text">Contacto: 963258741</p>
                    <p class="card-text">Email: fabio2001marques@gmail.com</p>
                    <a class="btn btn-outline-dark" href="https://www.facebook.com/"><i class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-dark" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-dark" href="https://twitter.com/"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-dark" href="https://www.linkedin.com"><i class="fab fa-fw fa-linkedin-in"></i></a>
                </div>            
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Rafael Santos</h2>
                    <p class="card-text">Data de Nascimento: 16/05/2000</p>
                    <p class="card-text">Contacto: 914785963</p>
                    <p class="card-text">Email: fabio2001marques@gmail.com</p>
                    <a class="btn btn-outline-dark" href="https://www.facebook.com/"><i class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-dark" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-dark" href="https://twitter.com/"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-dark" href="https://www.linkedin.com"><i class="fab fa-fw fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Diogo Saraiva</h2>
                    <p class="card-text">Data de Nascimento: 14/12/1999</p>
                    <p class="card-text">Contacto: 935695126</p>
                    <p class="card-text">Email: fabio2001marques@gmail.com</p>
                    <a class="btn btn-outline-dark" href="https://www.facebook.com/"><i class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-dark" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-dark" href="https://twitter.com/"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-dark" href="https://www.linkedin.com"><i class="fab fa-fw fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
